/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"); */

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Oblique.eot");
  src: url("/fonts/Helvetica-Oblique.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Helvetica-Oblique.woff2") format("woff2"),
    url("/fonts/Helvetica-Oblique.woff") format("woff"),
    url("/fonts/Helvetica-Oblique.ttf") format("truetype"),
    url("/fonts/Helvetica-Oblique.svg#Helvetica-Oblique") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-LightOblique.eot");
  src: url("/fonts/Helvetica-LightOblique.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Helvetica-LightOblique.woff2") format("woff2"),
    url("/fonts/Helvetica-LightOblique.woff") format("woff"),
    url("/fonts/Helvetica-LightOblique.ttf") format("truetype"),
    url("/fonts/Helvetica-LightOblique.svg#Helvetica-LightOblique")
      format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.eot");
  src: url("/fonts/Helvetica.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Helvetica.woff2") format("woff2"),
    url("/fonts/Helvetica.woff") format("woff"),
    url("/fonts/Helvetica.ttf") format("truetype"),
    url("/fonts/Helvetica.svg#Helvetica") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-BoldOblique.eot");
  src: url("/fonts/Helvetica-BoldOblique.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Helvetica-BoldOblique.woff2") format("woff2"),
    url("/fonts/Helvetica-BoldOblique.woff") format("woff"),
    url("/fonts/Helvetica-BoldOblique.ttf") format("truetype"),
    url("/fonts/Helvetica-BoldOblique.svg#Helvetica-BoldOblique")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Light.eot");
  src: url("/fonts/Helvetica-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Helvetica-Light.woff2") format("woff2"),
    url("/fonts/Helvetica-Light.woff") format("woff"),
    url("/fonts/Helvetica-Light.ttf") format("truetype"),
    url("/fonts/Helvetica-Light.svg#Helvetica-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Bold.eot");
  src: url("/fonts/Helvetica-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Helvetica-Bold.woff2") format("woff2"),
    url("/fonts/Helvetica-Bold.woff") format("woff"),
    url("/fonts/Helvetica-Bold.ttf") format("truetype"),
    url("/fonts/Helvetica-Bold.svg#Helvetica-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoColorEmoji";
  src: local("NotoColorEmoji"),
    url("/fonts/NotoColorEmoji.ttf") format("truetype");
  font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.translateZ {
  transform: translateZ(0px);
}
.about__content {
  position: relative;
  border: 1px solid #e4cdb4;
  padding: 2rem 2rem 1rem !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.about__content:before {
  left: -1.65rem;
}
.about__content:after {
  right: -1.65rem;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.about__content:before,
.about__content:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  bottom: 0;
  margin: auto;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../public/img/about/chicken_removebg.png);
}

@layer base {
  body {
    @apply bg-body font-secondary text-lg text-second-main font-medium;
  }
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @apply font-primary italic;
  }
  .h1 {
    @apply text-6xl lg:text-8xl font-bold;
  }
  .h2 {
    @apply font-black text-[46px] mb-4 leading-[1.1];
  }
  .h3 {
    @apply font-extrabold italic text-[40px];
  }
  .h4 {
    @apply font-extrabold italic text-[26px] text-white;
  }
  .h5 {
    @apply font-medium text-[22px] text-white;
  }
  .a {
    @apply text-second-main no-underline;
  }
  .pretitle {
    @apply font-secondary font-bold text-base uppercase tracking-[-0.04em] text-second-main mb-2;
  }
  .btn {
    @apply h-14 rounded-full bg-accent px-[42px] border border-second-main text-base font-secondary font-semibold tracking-[0.02em] outline-none hover:bg-accent-hover  hover:text-primary-main transition-all duration-300 inline-block text-center cursor-pointer;
  }
  .input {
    @apply h-[56px] w-[316px] outline-none pl-[30px] rounded-full border-2 border-gray-200 font-secondary font-semibold text-base text-dark  placeholder:text-dark;
  }
  .border-image {
    border-style: solid;
    border-image: url(../../public/img/body-bg-border.png) 30 30 round;
    border-width: 2rem;
  }

  .dark\:bg-blacksection:is(.dark *) {
    --tw-bg-opacity: 1;
    background-color: rgb(28 33 54 / var(--tw-bg-opacity));
  }

  .shadow-solid-8 {
    --tw-shadow: 0px 12px 120px rgba(45, 74, 170, 0.06);
    --tw-shadow-colored: 0px 12px 120px var(--tw-shadow-color);
  }

  .shadow-solid-8,
  .shadow-solid-9 {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .blog-details-docs {
    border-radius: 0.5rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
    padding: 1.875rem;
    --tw-shadow: 0px 6px 90px rgba(8, 14, 40, 0.04);
    --tw-shadow-colored: 0px 6px 90px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }
  .blog-details-docs:is(.dark *) {
    --tw-border-opacity: 1;
    border-color: rgb(45 47 64 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(28 33 54 / var(--tw-bg-opacity));
  }
  @media (min-width: 1280px) {
    .blog-details-docs {
      padding: 3.125rem;
    }
  }
  .blog-details p {
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(70 73 90 / var(--tw-text-opacity));
  }
  .blog-details p:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(117 118 147 / var(--tw-text-opacity));
  }
  .blog-details p strong {
    --tw-text-opacity: 1;
    color: rgb(0 107 255 / var(--tw-text-opacity));
  }
  .blog-details p strong:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(117 118 147 / var(--tw-text-opacity));
  }
  .blog-details h3,
  .blog-details h3 strong {
    margin-bottom: 2.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600 !important;
    line-height: 1.25;
    --tw-text-opacity: 1;
    color: rgb(24 28 49 / var(--tw-text-opacity));
  }
  .blog-details h3 strong:is(.dark *),
  .blog-details h3:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  @media (min-width: 640px) {
    .blog-details h3,
    .blog-details h3 strong {
      font-size: 1.5rem;
      line-height: 2rem;
      line-height: 1.25;
    }
  }
  @media (min-width: 1024px) {
    .blog-details h3,
    .blog-details h3 strong {
      font-size: 1.25rem;
      line-height: 1.75rem;
      line-height: 1.25;
    }
  }
  @media (min-width: 1280px) {
    .blog-details h3,
    .blog-details h3 strong {
      font-size: 1.5rem;
      line-height: 2rem;
      line-height: 1.25;
    }
  }
  .blog-details h4,
  .blog-details h4 strong {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600 !important;
    line-height: 1.25;
    --tw-text-opacity: 1;
    color: rgb(24 28 49 / var(--tw-text-opacity));
  }
  .blog-details h4 strong:is(.dark *),
  .blog-details h4:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  @media (min-width: 640px) {
    .blog-details h4,
    .blog-details h4 strong {
      font-size: 1.5rem;
      line-height: 2rem;
      line-height: 1.25;
    }
  }
  @media (min-width: 1024px) {
    .blog-details h4,
    .blog-details h4 strong {
      font-size: 1.25rem;
      line-height: 1.75rem;
      line-height: 1.25;
    }
  }
  @media (min-width: 1280px) {
    .blog-details h4,
    .blog-details h4 strong {
      font-size: 1.5rem;
      line-height: 2rem;
      line-height: 1.25;
    }
  }
  .blog-details h5,
  .blog-details h5 strong {
    margin-bottom: 0.75rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600 !important;
    line-height: 1.25;
    --tw-text-opacity: 1;
    color: rgb(24 28 49 / var(--tw-text-opacity));
  }
  .blog-details h5 strong:is(.dark *),
  .blog-details h5:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  @media (min-width: 640px) {
    .blog-details h5,
    .blog-details h5 strong {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
  .blog-details h1 {
    margin-bottom: 1rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700 !important;
    line-height: 1.25 !important;
    --tw-text-opacity: 1;
    color: rgb(24 28 49 / var(--tw-text-opacity));
  }
  .blog-details h1:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  @media (min-width: 640px) {
    .blog-details h1 {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  }
  @media (min-width: 768px) {
    .blog-details h1 {
      font-size: 45px;
    }
  }
  @media (min-width: 1024px) {
    .blog-details h1 {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  }
  @media (min-width: 1280px) {
    .blog-details h1 {
      font-size: 45px;
    }
  }
  .blog-details h2,
  .blog-details h2 strong {
    margin-bottom: 1rem;
    font-size: 26px;
    font-weight: 700 !important;
    line-height: 1.25 !important;
    --tw-text-opacity: 1;
    color: rgb(24 28 49 / var(--tw-text-opacity));
  }
  .blog-details h2 strong:is(.dark *),
  .blog-details h2:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  @media (min-width: 640px) {
    .blog-details h2,
    .blog-details h2 strong {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
  }
  @media (min-width: 768px) {
    .blog-details h2,
    .blog-details h2 strong {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  }
  .blog-details ol,
  .blog-details ul {
    margin-bottom: 2.5rem;
    list-style-position: inside;
    list-style-type: disc;
    --tw-text-opacity: 1;
    color: rgb(70 73 90 / var(--tw-text-opacity));
  }
  .blog-details li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(70 73 90 / var(--tw-text-opacity));
  }
  .blog-details li:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(117 118 147 / var(--tw-text-opacity));
  }
  .blog-details blockquote {
    position: relative;
    z-index: 10;
    margin-bottom: 2.5rem;
    overflow: hidden;
    border-radius: 0.125rem;
    --tw-bg-opacity: 1;
    background-color: rgb(153 154 161 / var(--tw-bg-opacity));
    padding: 2rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    font-style: italic;
    --tw-text-opacity: 1;
    color: rgb(24 28 49 / var(--tw-text-opacity));
  }
  .blog-details blockquote:is(.dark *) {
    --tw-bg-opacity: 1;
    background-color: rgb(24 28 49 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  @media (min-width: 768px) {
    .blog-details blockquote {
      padding-top: 2.25rem;
      padding-bottom: 2.25rem;
    }
  }
  @media (min-width: 1024px) {
    .blog-details blockquote {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
}

@media (max-width: 768px) {
  .h1 {
    font-size: 2.5rem;
  }
}
