<div className="lg:w-2/3">
  <div
    className="animate_top rounded-md border border-stroke bg-white p-7.5 shadow-solid-13 dark:border-strokedark dark:bg-blacksection md:p-10"
  >
    <div className="mb-10 w-full overflow-hidden">
      <div className="relative aspect-[97/60] w-full sm:aspect-[97/44]"></div>
    </div>
    <h1
      className="mb-5 mt-11 text-3xl font-semibold text-black dark:text-white 2xl:text-sectiontitle2"
    >
      Exploring MERN Stack: Powering Modern Web Development
    </h1>
    <ul className="mb-9 flex flex-wrap gap-5 2xl:gap-7.5">
      <li>
        <span className="text-black dark:text-white">Author: </span>
        <!-- -->Jhon Doee
      </li>
      <li>
        <span className="text-black dark:text-white"
          >Published On:<!-- -->
        </span>
        <!-- -->Jun 18 2023
      </li>
      <li>
        <span className="text-black dark:text-white">Tags: </span>
        <a href="/blog/tag/test"> <!-- -->test</a>
      </li>
    </ul>
    <div className="blog-details">
      <p>
        In the world of web development, staying ahead of the curve is crucial.
        One technology stack that has gained immense popularity and is widely
        adopted by developers is the MERN stack. In this blog, we'll dive into
        the MERN stack, exploring its components and how it revolutionizes web
        development by leveraging the power of JavaScript and modern web
        technologies.
      </p>
      <p></p>
      <ol>
        <li>
          <strong>Understanding the MERN Stack:</strong> The MERN stack is a
          full-stack JavaScript framework that consists of four key
          technologies:
        </li>
        <li>
          <strong>Benefits of the MERN Stack:</strong> The MERN stack offers
          numerous advantages, making it a preferred choice for modern web
          development projects
        </li>
        <li>
          <strong>How the MERN Stack Works:</strong> The MERN stack follows a
          typical flow:
        </li>
      </ol>
      <ul>
        <li>
          The front-end is built using React, where developers create reusable
          UI components, handle user interactions, and manage the application's
          state.
        </li>
        <li>
          Express.js, a minimalist web framework, is used on the server-side to
          handle HTTP requests, manage routes, and interact with the MongoDB
          database.
        </li>
      </ul>
      <blockquote>
        The MERN stack has become a go-to choice for modern web development
        projects, offering a powerful combination of MongoDB, Express.js, React,
        and Node.js.
      </blockquote>
      <p></p>
      <p></p>
      <div style="display: none">
        [@portabletext/react] Unknown block type "image", specify a component
        for it in the `components.types` prop
      </div>
      <p></p>
      <p></p>
      <p>
        It allows developers to build scalable, high-performance applications
        using a single language and leverages the strength of JavaScript across
        the entire development stack. By embracing the MERN stack, developers
        can create dynamic, interactive, and efficient web applications that
        meet the demands of today's digital world.
      </p>
    </div>
    <div
      className="mt-11 flex flex-wrap gap-4 md:items-center md:justify-between md:gap-0"
    >
      <ul className="flex items-center gap-6">
        <li><p className="text-black dark:text-white">Share On:</p></li>
        <li>
          <a href="#" aria-label="social-icon"> </a>
        </li>
      </ul>
    </div>
  </div>
</div>
